In [10]:
import numpy as np
import pandas as pd
import numpy.random as randn

# Series

In [3]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [4]:
pd.Series(data=my_data)#shift tab

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
ser1=pd.Series(data=my_data,index=labels)

In [7]:
ser2=pd.Series(data=my_data,index=labels)

In [8]:
ser1+ser2

a    20
b    40
c    60
dtype: int64

# DataFrame

In [17]:
df=pd.DataFrame(randn.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [18]:
df

          W         X         Y         Z
A -1.387689 -0.526424 -0.074826 -1.693381
B  0.167615  1.059672 -0.638824 -0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024 -0.251442

In [19]:
df['W']

A   -1.387689
B    0.167615
C    0.928636
D    0.422639
E    0.052014
Name: W, dtype: float64

In [20]:
type(df['W'])

pandas.core.series.Series

In [21]:
type(df)

pandas.core.frame.DataFrame

In [23]:
df.abs()

          W         X         Y         Z
A  1.387689  0.526424  0.074826  1.693381
B  0.167615  1.059672  0.638824  0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024  0.251442

In [25]:
df[['W','Z']]

          W         Z
A -1.387689 -1.693381
B  0.167615 -0.427144
C  0.928636  1.322970
D  0.422639  1.038619
E  0.052014 -0.251442

In [26]:
df['new']

KeyError: 'new'

In [27]:
df['new']=df['W']+df['Y']

In [28]:
df

          W         X         Y         Z       new
A -1.387689 -0.526424 -0.074826 -1.693381 -1.462514
B  0.167615  1.059672 -0.638824 -0.427144 -0.471209
C  0.928636  0.763157  0.158915  1.322970  1.087552
D  0.422639  0.737295  0.349076  1.038619  0.771715
E  0.052014  0.427878  0.430024 -0.251442  0.482038

In [29]:
df.drop('new',axis=1)

          W         X         Y         Z
A -1.387689 -0.526424 -0.074826 -1.693381
B  0.167615  1.059672 -0.638824 -0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024 -0.251442

In [31]:
df.drop('new',axis=1,inplace=True)

In [32]:
df

          W         X         Y         Z
A -1.387689 -0.526424 -0.074826 -1.693381
B  0.167615  1.059672 -0.638824 -0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024 -0.251442

In [33]:
df.drop('E')

          W         X         Y         Z
A -1.387689 -0.526424 -0.074826 -1.693381
B  0.167615  1.059672 -0.638824 -0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619

In [34]:
df

          W         X         Y         Z
A -1.387689 -0.526424 -0.074826 -1.693381
B  0.167615  1.059672 -0.638824 -0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024 -0.251442

In [35]:
df.shape

(5, 4)

In [36]:
df[['Z','X']]

          Z         X
A -1.693381 -0.526424
B -0.427144  1.059672
C  1.322970  0.763157
D  1.038619  0.737295
E -0.251442  0.427878

# grab a row

In [37]:
df.loc['A']

W   -1.387689
X   -0.526424
Y   -0.074826
Z   -1.693381
Name: A, dtype: float64

In [38]:
df.iloc[2]

W    0.928636
X    0.763157
Y    0.158915
Z    1.322970
Name: C, dtype: float64

In [39]:
df.loc['B','Y']

-0.6388239896561271

In [41]:
df[df['W']>0]

          W         X         Y         Z
B  0.167615  1.059672 -0.638824 -0.427144
C  0.928636  0.763157  0.158915  1.322970
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024 -0.251442

In [47]:
boolser=df['Y']>0
result=df[boolser]
mycols=['Y','X']
result[mycols]

          Y         X
C  0.158915  0.763157
D  0.349076  0.737295
E  0.430024  0.427878

# and can only deal with true and false

In [50]:
df[(df['W']>0)&(df['Y']>0.2)]

          W         X         Y         Z
D  0.422639  0.737295  0.349076  1.038619
E  0.052014  0.427878  0.430024 -0.251442

In [51]:
df.reset_index()

  index         W         X         Y         Z
0     A -1.387689 -0.526424 -0.074826 -1.693381
1     B  0.167615  1.059672 -0.638824 -0.427144
2     C  0.928636  0.763157  0.158915  1.322970
3     D  0.422639  0.737295  0.349076  1.038619
4     E  0.052014  0.427878  0.430024 -0.251442

In [52]:
#df.set_index()

# Pandas - DataFrames Part3

In [54]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [55]:
df=pd.DataFrame(randn.randn(6,2),hier_index,['A','B'])

In [57]:
df
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [58]:
df.index.names

FrozenList([None, None])

In [59]:
df.index.names=['Groups','Num']

In [60]:
df

                   A         B
Groups Num
G1     1    1.275673 -1.673429
       2    0.642702  1.179893
       3   -1.713344 -1.088181
G2     1   -1.005756  0.500711
       2    1.128004 -0.617678
       3   -0.447490 -1.742075

In [64]:
df.loc['G2'].loc[2]['B']

-0.6176783127229903

In [65]:
df

                   A         B
Groups Num
G1     1    1.275673 -1.673429
       2    0.642702  1.179893
       3   -1.713344 -1.088181
G2     1   -1.005756  0.500711
       2    1.128004 -0.617678
       3   -0.447490 -1.742075

In [66]:
df.xs('G1')

            A         B
Num
1    1.275673 -1.673429
2    0.642702  1.179893
3   -1.713344 -1.088181

In [67]:
df

                   A         B
Groups Num
G1     1    1.275673 -1.673429
       2    0.642702  1.179893
       3   -1.713344 -1.088181
G2     1   -1.005756  0.500711
       2    1.128004 -0.617678
       3   -0.447490 -1.742075

In [68]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.275673 -1.673429
G2     -1.005756  0.500711